## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

## Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

## NuGet
packages/
*.nupkg
*.snupkg
.nuget/

## OS
Thumbs.db
Desktop.ini
.DS_Store
